# Source: https://raw.githubusercontent.com/bitnami/bitnami-docker-wordpress/master/docker-compose.yml
services:
  mariadb:
    image: docker.io/mariadb:10.6
    volumes:
      - 'mariadb_data:/var/lib/mysql'
    networks:
      - backend
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      - MARIADB_SKIP_TEST_DB=yes
      - MARIADB_USER=wordpress
      - MARIADB_DATABASE=wordpress

  wordpress:
    build:
      context: ./wordpress
    # image: wordpress:php8.2-apache
    labels:
      - networks=bridge
    user: "1001:root"
    networks:
      - backend
#    network_mode: host
    volumes:
      - 'wordpress_data:/var/www/html:U'
      - 'site_html:/opt/bitnami/wordpress_static:U'
    secrets:
      - source: manual_natbienetre_wordpress_certificate
      - source: manual_natbienetre_wordpress_key
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - WORDPRESS_DEBUG=1
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_DATABASE_HOST=mariadb
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=wordpress
      - WORDPRESS_DATABASE_NAME=wordpress
    extra_hosts:
      - edit.natbienetre.fr:127.0.0.1
      - natbienetre.fr:127.0.0.1
    cap_add:
      - NET_BIND_SERVICE

  wordpress-cli:
    image: wordpress:cli-php8.2 # wordpress:cli-2.6.0-php8.0
    labels:
      - networks=bridge
    user: "1001:root"
    networks:
      - backend
    volumes:
      - 'wordpress_data:/var/www/html:U'
      - 'site_html:/opt/bitnami/wordpress_static:U'
    depends_on:
      - mariadb
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - WORDPRESS_DEBUG=1
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_DATABASE_HOST=mariadb
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=wordpress
      - WORDPRESS_DATABASE_NAME=wordpress
    extra_hosts:
      - edit.natbienetre.fr:127.0.0.1
    entrypoint: ["/usr/bin/env", "bash", "-c", "sleep infinite"]

  sauvegarde:
    image: wordpress:cli-php8.2 # wordpress:cli-2.6.0-php8.0
    labels:
      - networks=bridge
    user: "1001:root"
    networks:
      - backend
    volumes:
      - 'wordpress_data:/var/www/html:ro'
      - 'backups:/opt/backups:U'
    depends_on:
      - mariadb
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - WORDPRESS_DEBUG=1
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_DATABASE_HOST=mariadb
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=wordpress
      - WORDPRESS_DATABASE_NAME=wordpress
    extra_hosts:
      - edit.natbienetre.fr:127.0.0.1
    entrypoint: ["/usr/bin/env", "bash", "-c", "wp db export \"/opt/backups/$(date '+%Y-%m-%d %H:%M:%S').sql\""]

  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    labels:
      - networks=bridge
    command:
      - tunnel
      - --no-autoupdate
      - --metrics
      - localhost:3333
      - run
    environment:
      - TUNNEL_TOKEN_FILE=/run/secrets/manual_natbienetre_cloudflare_token
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3333/ready"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 120s

    networks:
      - backend
    #volumes:
    #  - './certs/rootCA.crt:/mnt/natbienetre.fr.pem'
    secrets:
      - manual_natbienetre_cloudflare_token
    restart: "always"

  media:
    image: docker.io/rclone/rclone:1
    user: "1001:0"
    command: >-
      copy /mnt/wordpress/wp-content/uploads natbienetre:natbienetre -v
        --fast-list --metadata
        --config /run/secrets/rclone.conf
        --exclude '/simply-static/**'
        --exclude '/wpcode-logs/**'
    #    --include '/{{\d{4}/.*}}'
    #    --include '/uag-plugin/**'
    volumes:
      - 'wordpress_data:/mnt/wordpress'
    secrets:
      - source: rclone_configuration
        target: rclone.conf
        uid: "1001"
        gid: "0"
        mode: 0400
    restart: "no"

  publier:
    build:
      context: ./static_html
    command:
      - https://github.com/natbienetre/www.git
    environment:
      - SOURCE=/mnt/site_html
    volumes:
      - 'site_html:/mnt/site_html:ro'
      - 'static_repo:/gitrepo:ro'
    secrets:
      - source: git_configuration
        target: gitconfig
        uid: "1001"
        gid: "0"
        mode: 0400
    restart: "no"

networks:
  #bridge:
  #  external: true
  backend: {}

volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local
  backups:
    driver: local
  site_html:
    driver: local
  static_repo:
    driver: local

secrets:
  git_configuration:
    file: ~/.gitconfig
  rclone_configuration:
    file: ~/.config/rclone/rclone.conf
  manual_natbienetre_cloudflare_token:
    external: true
  manual_natbienetre_wordpress_certificate:
    external: true
  manual_natbienetre_wordpress_key:
    external: true
